build/*
hdbscan/*.py[cdo]
hdbscan/tests/*.pyc	hdbscan/tests/*.py[cdo]
hdbscan/*.pyd	hdbscan/*.c
hdbscan/tests/*.pyd	hdbscan/tests/*.c
hdbscan/__pycache__/*	**/__pycache__/*
dist/*
*egg-info
notebooks/.ipynb_checkpoints/*

